<h4> Contact </h4>
<p>Mobile <i class="bi bi-telephone-fill"></i> : 9878765430 <br>
    Alternative <i class="bi bi-telephone-fill"></i> : 9765890932<br>
    Address : 87/5, Petsworld, Bye passs road, Sattur - 626203
</p>
<h4> For Queries </h4>
<form [formGroup]="contact" (ngSubmit)="saveReactive()">
    <div class="row">
        <div class=" mt-2 mb-2">
    <input type="text" name="name" placeholder="Enter your name" formControlName="name">
    <span *ngIf="name?.touched && name?.invalid"> Name is required </span>
</div>
<div class=" mt-2 mb-2">
    <input type="text" name="Mobile" placeholder="Enter your Mobile Number" formControlName="mobile">
    <span *ngIf="mobile?.touched && mobile?.invalid"> Mobile is required </span>
</div>
<div class=" mt-2 mb-2">
    <input type="email" name="email" placeholder="Enter your Email" formControlName="email">
    <span *ngIf="email?.touched && email?.invalid"> Email is required </span>
</div>
<div class="mt-2 mb-2">
    <input type="password" name="password" placeholder="Enter your password" formControlName="password">
    <span *ngIf="password?.touched && password?.invalid"> Password is required </span>
</div>
<div class="mt-2 mb-2">
    <input type="textarea" name="address" placeholder="Enter your address" formControlName="address">
    <span *ngIf="address?.touched && address?.invalid"> Address is required </span><br>
    <br>
</div><br>
    <div>
        <input class="submit" type="submit" value="Submit">    </div>
</div>
</form>
