<h3> ABOUT US </h3>
<p>
    Pet world is a retailer which sells animals and pet care resources to the public.
    A variety of animal supplies and pet accessories are also sold in our shop.
    <br>The products sold include: food, treats, toys, collars, leashes, cat litter, cages and aquariums.
<br> Services we provide: </p>
    <ul type="disc" class="list"> <li>Hygienic care (such as pet cleaning) and aesthetic services (such as cat and dog grooming)</li>
    <li>Tips on training and behaviour, as well as advice on pet nutrition.</li>
    <li>Engraving services for pet tags, 
        which have the owner's contact information in case the pet gets lost. </li></ul>


        <img src="https://images4.alphacoders.com/112/1122211.jpg">
<div class="container mt-5 mb-5">
    <h4> Our motto! </h4>
    <p class="poem">
        Loving friend, the gift of one,<br>
        Who, her own true faith, hath run,<br>
        Through thy lower nature;<br>
        Be my benediction said<br>
        With my hand upon thy head,<br>
        Gentle fellow-creature!<br> 
        
    </p>
   
</div>
