
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    margin-left: 100px;
}
h3{
    text-align: center;
    color: var(--primary-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.list{
margin-left: 170px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.poem{
    padding-left: 100px;
    font-size: 18px;
}
img{
    float: right;
    width: 350px;
    height: 200px;
    margin-top: 50px;
    margin-right: 100px;

}
h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    margin-left: 200px;
    color: var(--primary-color);
}